#root {
  width: 100%;
  margin: 0 32px;
  padding-right: 2rem;
  padding-left: 2rem;

  text-align: center;
  min-height: 100vh;
  height: 100%;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.main-content {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.icons-width {
  stroke-width: 0.15em;
}